<div class="product-list">
    {{#each payload}}
        <div class="product-card">
            {{#if this.thumbnails.length}}
                <img src="{{this.thumbnails.[0]}}" alt="{{this.title}}" class="product-image">
            {{/if}}
            <div class="product-card-content">
                <h4 class="product-title">{{this.title}}</h4>
                <p class="product-description">{{this.description}}</p>
                <div class="product-card-details">
                    <p class="product-price">Precio: <strong>${{this.price}}</strong></p>
                    <p class="product-stock">Stock: {{this.stock}}</p>
                </div>
                <button class="addToCartBtn" data-id="{{this._id}}">Agregar al Carrito</button>
            </div>
        </div>
    {{else}}
        <p>No hay productos para mostrar.</p>
    {{/each}}
</div>

<div class="pagination">
    {{#if hasPrevPage}}
        <a href="{{prevLink}}" class="pagination-link">&laquo; Anterior</a>
    {{/if}}
    
    <span class="pagination-info">Página {{page}} de {{totalPages}}</span>
    
    {{#if hasNextPage}}
        <a href="{{nextLink}}" class="pagination-link">Siguiente &raquo;</a>
    {{/if}}
</div>