<div class="product-list">
    {{#each payload}}
        <div class="product-card">
            {{#if this.thumbnails.length}}
                <img src="{{this.thumbnails.[0]}}" alt="{{this.title}}" class="product-image">
            {{/if}}
            <div class="product-card-content">
                <h4>{{this.title}}</h4>
                <p>{{this.description}}</p>
                <div class="product-card-details">
                    <p><strong>Precio: ${{this.price}}</strong></p>
                    <p>Stock: {{this.stock}}</p>
                </div>
                <button class="addToCartBtn" data-id="{{this._id}}">Agregar al Carrito</button>
            </div>
        </div>
    {{else}}
        <p>No hay productos para mostrar.</p>
    {{/each}}
</div>

<div class="pagination">
    {{#if hasPrevPage}}
        <a href="{{prevLink}}">&laquo; Anterior</a>
    {{/if}}
    
    <span>Página {{page}} de {{totalPages}}</span>
    
    {{#if hasNextPage}}
        <a href="{{nextLink}}">Siguiente &raquo;</a>
    {{/if}}
</div>